.main {
  min-height: 60vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
}

.description {
  margin: 3rem 0;
  padding: 40px 80px;
  line-height: 1.5;
  font-size: 1rem;
}

.news {
  margin: 20px 0px;
  padding: 40px 80px;
}

.news li {
  list-style-type: none;
}

@media (max-width: 600px) {
  .title {
    font-size: 24px;
  }
}
